{% extends'layout.twig' %}
{%  block title "Mes articles" %}
{% block body %}
    <div class="container">
        <h1>Bienvenue sur le blog</h1>
        {% for row in posts | batch(3) %}
            <div class="row ">
                {% for post in row %}
                    <div class="col-sm-4">
                        <div class="card mb-4">
                            <div class="card-header">
                             <h2>
                                 <a href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}">
                                     {{ post.name | excerpt(20) }}
                                 </a>
                             </h2>
                            </div>
                            <div class="card-body">
                                <p class="card-title">
                                    {{ post.content | excerpt | nl2br }}
                                </p>
                                <p class="text-muted">{{ post.created_at | timeago  }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}" class="btn btn-primary">
                                    Voir l'article
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        {{ paginate(posts, 'blog.index') }}
    </div>
{%  endblock %}
